<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta contentType="text/html; charset=utf-8"/>
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Users</title>

    <script type="text/javascript">
        function getUser(event) {
            $.get("get_user" + "/" + document.getElementById('in').value, function (data) {

                console.log(data);

                var str = data.phone + " " + data.phone + "<br>";

                $(".search").html(str);
            });
        }

        $(document).ready(function () {

            $.get("get_users", function (data) {

                console.log(data);
                var i, str = "";

                for (i = 0; i < data.length; i++) {
                    str += data[i].id + ". " + data[i].phone + "<br>";
                }
                $(".users").html(str);

            });
        });
    </script>

</head>
<body>

<div class="container">
    <div class="row">


        <div class="col-md-3">
            <div class="users"></div>
        </div>


        <div class="col-md-3">
            <input id="in" type="text"><br>
            <button onclick="getUser()">Find by ID</button>
            <div class="search"></div>
        </div>


    </div>
</div>
</body>
</html>